<br><br>
<img src='aisg_logo.png' width="700px">  
<br>
# AI Apprentice Programme
## Take-home Written Assignment

### Problem 4 - Database Preparation and Querying
Today's problems revolving artificial intelligence are often data driven, involving algorithms that perform well based on training with big data. Hence, the ability to manage data has become a crucial skill. One key platform data is collected are on SQL servers.

Hence, this problem will test your ability to work with and query an SQL database. We will be using the SQLite flavour of the RDBMS.

You will be assessed primarily on your ability write efficient, high quality code to set up and query from a SQLite database.

You should be able to complete this question in 60 minutes as a seasoned user of SQL databases. However, you are not limited to this time frame.

### Problem

Consider that you are running a Kaggle-like competition for an assessment exercise. You have a fixed number of undergraduate students in your class of different years and majors - students of years 1 to 4, and of majors in Computer Science (CS), Business Analytics (BA) and Statistics (ST). Given below are the SQL tables of the competition.

In this competition, however, the student is expected to submit a script that will compile and generate a binary model for evaluation purposes. Hence, the model must be expected to compile upon submission, the compilability of the model is recorded per submission.

__students:__  

| student_id | student_name | year | major |
|-|-|-|-|
|1|Alan Tan|2|BA|
|2|Mary Lee|4|CS|
|3|Justin Chong|3|ST|
|4|Gerald Lim|3|CS|
|5|Barry Choo|3|BA|
|...|...|...|...|



__submissions:__

| student_id | submission_id | date | did_compile | accuracy |
|-|-|-|-|-|
|3|1|2018-07-25|true|0.47|
|2|2|2018-07-26|false|0|
|3|3|2018-07-26|true|0.69|
|4|4|2018-07-27|true|0.44|
|...|...|...|...|...|

### A. Normalisation
In each of the following questions, first define the normalisation definition, then state if the table you last created (or if you haven't created any yet, then the one given in the problem) fulfills the normalisation criteria. If not, please provide a table, with minimal change, that fulfills this normalisation criteria *but not the following one, if any*.

For example, if you feel that the table does not fulfill 1NF, do provide a suggested normalisation for 1NF, but do not go beyond to satisfy 2NF as well, as that is an exercise for the following part.

#### 1. Do the tables fulfill 1NF? If not, please provide a normalised set of tables.

#### 2. Do the tables you last defined (if any) then fulfill 2NF? If not, please provide a normalised set of tables.

#### 3. Do the tables you last defined (if any) then fulfill 3NF? If not, please provide a normalised set of tables.

### B. Database Preparation

#### 1. We have provided a data dump, `data_sql.csv` with the following columns: `[student_name, year, major, date, did_compile, accuracy]`. Write a set of scripts in any common data-centric language(s) that will generate the 3NF tables you specified as a SQLite database. Ensure the reproducibility of the script. You may wish to put in sufficient documentation to allow your code to be better understood by your cross-domain peers.

In [2]:
import pandas
pandas.read_csv('data_sql.csv').head()

    student_name  year major    date did_compile  accuracy
0  Farah Nabilah     4    ST  7/1/18          NO  0.000000
1      Aston Wee     2    BA  7/2/18          NO  0.000000
2  Farah Nabilah     4    ST  7/2/18          NO  0.000000
3       Alan Tan     2    BA  7/2/18         YES  0.645583
4  Farah Nabilah     4    ST  7/3/18          NO  0.000000

### C. Querying
Please provide a query, as a single transaction, to retrieve the specified information in the following questions.

#### 1. Please provide the 1) lowest 2) mean and 3) highest accuracy for each year and major. Each year/major should be a row, and the query should have 5 columns: major, year, lowest, mean, highest.

#### 2. Please provide the names of 1) the most number of failed compilations of models of an individual student, 2) the name of that student, 3) mean compiled model performance, 4) highest model performance and 5) name of student with best model, for each year and major. Each year/major should be a row, and the query should have 7 columns: major, year, most_uncompiled, name_most_uncompiled, mean, best_model, name_best_model.